# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [8]:
se1 = pd.Series(np.random.randint(1,high=5,size=100,dtype=int ));
se2 = pd.Series(np.random.randint(1,high=4,size=100,dtype=int ));
se3 = pd.Series(np.random.randint(10000,high=30000,size=100,dtype=int ))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [12]:
x = pd.concat([se1,se2,se3],axis=1)
x.head(2)

   0  1      2
0  3  2  21253
1  4  3  13997

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [20]:
x.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr_meter'})
x.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            21253
1      4       3            13997
2      1       1            19745
3      1       1            10563
4      3       1            16335

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [50]:
x=pd.concat([se1,se2,se3],axis=0)
y=x.to_frame().rename(columns = {0:'bigcolumn'})
y.count()

bigcolumn    300
dtype: int64

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
no

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [58]:
y.reset_index()

     index  bigcolumn
0        0          3
1        1          4
2        2          1
3        3          1
4        4          3
..     ...        ...
295     95      28685
296     96      25853
297     97      19035
298     98      16104
299     99      27679

[300 rows x 2 columns]